.container header {
    background-color: #48BBBC;
}
.container header nav {
    background-color: #687D8C;
    -webkit-box-shadow: 0px 0px #8E9AF2;
    box-shadow: 0px 0px #8E9AF2;
}
#hero .hero_header .light {
}
.container #hero {
    background-image: url(images/d3S5a3yDfqvXWmq.jpeg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(246,246,245,1.00) 0%,rgba(247,223,137,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(246,246,245,1.00) 0%,rgba(247,223,137,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(246,246,245,1.00) 0%,rgba(247,223,137,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(246,246,245,1.00) 0%,rgba(247,223,137,1.00) 100%);
}
